[submodule "blocks/communication"]
	path = blocks/communication
	url = git://github.com/nio-blocks/communication.git
[submodule "blocks/filter"]
	path = blocks/filter
	url = git://github.com/nio-blocks/filter.git
[submodule "blocks/logger"]
	path = blocks/logger
	url = git://github.com/nio-blocks/logger.git
[submodule "blocks/simulator"]
	path = blocks/simulator
	url = git://github.com/nio-blocks/simulator.git
[submodule "blocks/dynamic_fields"]
	path = blocks/dynamic_fields
	url = git://github.com/nio-blocks/dynamic_fields.git
[submodule "service_tests"]
	path = service_tests
	url = git://github.com/nioinnovation/service_tests.git
[submodule "blocks/watson"]
	path = blocks/watson
	url = git@github.com:nio-blocks/watson.git
[submodule "blocks/intercom"]
	path = blocks/intercom
	url = git@github.com:nio-blocks/intercom.git
[submodule "blocks/slack"]
	path = blocks/slack
	url = git@github.com:nio-blocks/slack.git
[submodule "blocks/state_change"]
	path = blocks/state_change
	url = git@github.com:nio-blocks/state_change.git
